@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using DevExpress.Blazor;
@inject IFileVersionProvider FileVersionProvider

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />

    <link rel="stylesheet" href="AcademicYearCalendar.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    
    <link href=@AppendVersion("_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css") rel="stylesheet" />
    @DxResourceManager.RegisterScripts()    

    <HeadOutlet  />
</head>
<body dir="rtl">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="index.js"></script>
</body>

</html>

@code {
    private string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);
}
