@using Microsoft.EntityFrameworkCore
@using AcademicYearCalendar.Data
@inject AppDbContext AppDbContext
@rendermode InteractiveServer
@inject IMessageService MessageService

<h3>اضافة/تعديل برنامج دراسي</h3>



<FluentGrid>
    <FluentGridItem xs="12" sm="6">
        <EditForm Model="StudySubject" FormName="change-StudySubject" OnValidSubmit="OnValidSubmitAsync" method="post" novalidate>
            <DataAnnotationsValidator />
            <FluentValidationSummary class="text-danger" role="alert" />
            <FluentTextField Name="program.ProgramName" @bind-Value="StudySubject.SubjectName" Required="true" Placeholder="ادخل اسم المادة الدراسية" Label="اسم المادة الدراسية" Style="width: 100%" />
            <FluentValidationMessage For="() => StudySubject.SubjectName" class="text-danger" />
            <div style="display:flex">
                <FluentSpacer />
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.Save())" Style="width: 25%;">حفظ</FluentButton>
                <FluentSpacer />
                <FluentButton Type="ButtonType.Button" @onclick="ExitOnClick" Appearance="Appearance.Accent" IconStart="@(new MyIcons.Regular.Size16.Cancel())" Style="width: 25%;">رجوع</FluentButton>
                <FluentSpacer />
            </div>
        </EditForm>


    </FluentGridItem>
</FluentGrid>


@code {
    [Parameter]
    public StudySubject StudySubject { get; set; }


    [Parameter]
    public string Status { get; set; }

    [Parameter]
    public EventCallback OnDone { get; set; }

    protected override void OnInitialized()
    {
        if (Status == "Add")
        {
            StudySubject = new StudySubject();
        }
    }

    async Task ExitOnClick()
    {
        //AppDbContext.Entry(AcademicProgram).Reload();
        MessageService.ShowMessageBar(options =>
        {
            options.Intent = MessageIntent.Warning;
            options.Body = "لم يتم تعديل اي بيانات";
            options.Timeout = 3000;
            options.Section = "MESSAGES_TOP";
        });
        AppDbContext.ChangeTracker.Clear();
        await OnDone.InvokeAsync();
    }

    private async Task OnValidSubmitAsync()
    {

        if (Status == "Add")
        {
            StudySubject.Id = AppDbContext.GetNextResourceId();
            AppDbContext.StudySubject.Add(StudySubject);
        }
        if (Status == "Edit")
        {
            AppDbContext.StudySubject.Update(StudySubject);
        }
        
        AppDbContext.SaveChanges();

        await MessageService.ShowMessageBarAsync(options =>
        {
            options.Intent = MessageIntent.Success;
            options.Body = "تم حفظ البيانات بنجاح";
            options.Timeout = 3000;
            options.Section = "MESSAGES_TOP";
        });

        await OnDone.InvokeAsync();
    }
}
