@using Microsoft.EntityFrameworkCore
@using AcademicYearCalendar.Data
@inject AppDbContext AppDbContext
@rendermode InteractiveServer


<h3>اضافة/تعديل برنامج دراسي</h3>


<FluentGrid>
    <FluentGridItem xs="12" sm="6">
        <EditForm Model="program" FormName="change-email" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <FluentValidationSummary class="text-danger" role="alert" />
            <FluentTextField Name="Input.NewEmail" @bind-Value="program.ProgramName" Required="true" Placeholder="ادخل البريد الالكتروني" Label="اسم البرنامج الدراسي" Style="width: 100%" />
            <FluentValidationMessage For="() => program.ProgramName" class="text-danger" />
            <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.Save())" Style="width: 50%;">حفظ</FluentButton>
            <FluentButton Type="ButtonType.Button" @onclick="ExitOnClick" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.RecordStop())" Style="width: 50%;">رجوع</FluentButton>
        </EditForm>
    </FluentGridItem>
</FluentGrid>


@code {
    [Parameter]
    public AcademicProgram AcademicProgram { get; set; }

    private AcademicProgram program { get; set; }

    [Parameter]
    public string Status { get; set; }

    [Parameter]
    public EventCallback OnDone { get; set; }

    protected override void OnInitialized()
    {
        program = new AcademicProgram();
        if (Status == "Edit")
        {
            program.Id = AcademicProgram.Id;
            program.ProgramName = AcademicProgram.ProgramName;
        }
    }

    async Task ExitOnClick()
    {
        await OnDone.InvokeAsync();
    }

    private async Task OnValidSubmitAsync()
    {
        // if (Input.NewEmail is null || Input.NewEmail == email)
        // {
        //     message = "لم يتم تغيير البريد الالكتروني";
        //     return;
        // }
        if (Status == "Add")
        {
            program.Id = AppDbContext.GetNextResourceId();
            AppDbContext.AcademicProgram.Add(program);
        }
        if (Status == "Edit")
        {
            AcademicProgram.ProgramName = program.ProgramName;
            AppDbContext.AcademicProgram.Update(AcademicProgram);
        }
        await AppDbContext.SaveChangesAsync();
        await OnDone.InvokeAsync();


        //message = "تم تحديث البريد الالكتروني";
    }

    public class ResourceIdSequenceValue
    {
        public long Value { get; set; }
    }
}
